body {
  margin: 0;
  line-height: 1.4;
  font-family: "Cardo", sans-serif;
}

header, h2 {
  font-family: "Montserrat Alternates", sans-serif;
}

.header {
  background: grey;
  padding: 20px;
  color: #ffffff;
  height: auto;
  z-index: 2;
  background: center top / cover url("img/banniere.jpg");
  height: 150px;
}

.header-nav {
  overflow: hidden;
  margin-top: 10px;
  text-align: center;
  z-index: 3;
}

.header-nav a {
  float: left;
  width: 20%;
  color: inherit;
  text-decoration: none;
  background-color: rgba(255,255,255,0.2);
  transition: background-color .3s;
}

.header-nav a:hover {
  background-color: rgba(255,255,255,0.4);
}

img {
  margin-left: 10px;
  width: 35px;
  transition: transform cubic-bezier(.66,-0.5,.28,1.4) .5s;
}

img:hover {
  transform: rotate(40deg) scale(1.5);

}

.homepage {
  border-radius: 5px 0 0 5px;
}

.link_ext {
  border-radius: 0 5px 5px 0;
}

.header-title {
  text-align: center;
  margin: 0;
  font-style: italic;
  text-transform: capitalize;
  z-index: 4;
}

.main {
  background: lightgrey;
  padding: 20px;
  line-height: 1.4;
  font-size: 16px;
}

.main p {
  text-align: justify;
}

blockquote {
  background: rgba(0,0,0,0.1);
  padding: 10px;
  position: relative;
}

blockquote::before {
  content: "«";
  position: absolute;
  top: -10px;
  left: -15px;
  font-size: 60px;
  line-height: 1.4rem;
}

blockquote::after {
  content: "»";
  position: absolute;
  bottom: -5px;
  right: -10px;
  font-size: 60px;
  line-height: 1.4rem;
}

li:first-child a::after {
  content: attr(data-count);
  float: right;
  background: grey;
  width: 25px;
  height: 25px;
  text-align: center;
  color: white;
  border-radius: 50%;
}

.footer {
  background: grey;
  padding: 10px 20px;
}
